@import url("/css/variable.css");

/* table */

.table {
	width: 100%;
	overflow: hidden;
	padding-top: 1em;
} .table:hover {
	overflow: auto;
} table {
	border-collapse:collapse;
	white-space: nowrap;
	min-width: 100%;
} table caption {
	border: 1px solid var(--bgcolor-sub);
	border-bottom: 0;
} th, td:first-child {
	background-color: var(--bgcolor-sub);
	text-align: center;
} th {
	border-left: 1px solid var(--bdcolor-sub);
	padding: .5em;
} th:first-child {
	border-left: 0;
	border-bottom: 1px solid var(--bdcolor-sub);
} td:first-child {
	border-top: 1px solid var(--bdcolor-sub);
} tbody tr:first-child td:first-child {
	border-top: 1px solid var(--bgcolor-sub);
} td:not(:first-child) {
	border: 1px solid var(--bgcolor-sub);
	padding: .5em;
}
